@{
    ViewData["Title"] = "About";
}

<div class="container">  
    <div class="row my-4">
        <div class="col-lg-4">
            <img class="img-fluid rounded" src="~/images/About.jpg" alt="About" />
        </div>
        <div class="col-lg-8">
            <h2>@ViewData["Title"]</h2>
            <p>Use this Area to provide additional information</p>
            <p>When did you get here?</p>
            <p>Just Now!!</p>
        </div>
    </div>
 </div>
